*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include response(big-desktop) {
    font-size: 75%;
  }
  @include response(tab-land) {
    font-size: 56.25%;
  }
  @include response(tab-port) {
    font-size: 50%;
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
  @include response(phone) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
